* {
  box-sizing: border-box;
}

.app {
  display: flex;
  min-height: calc(100vh - 60px);
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: #fff;
  height: 100vh;
  transform: translateX(-100%);

  &.open {
  }
}

.footer {
  height: 60px;
}
